@import "tailwindcss";
@plugin '@tailwindcss/typography';
@plugin 'daisyui';

@theme {
	--color-light-gold: #fffaf4;

	--color-base-900: #242321;

	--w-prose: 80ch;
}

:root {
	--color-primary: #2b3440;
	--color-secondary: #f000b8;
	--color-accent: #1dcdbc;
	--color-neutral: #2b3440;
	--color-info: #3abff8;
	--color-success: #36d399;
	--color-warning: #fbbd23;
	--color-error: #f87272;
	--color-base-content: black;

	--color-base-100: #ffffff;
	--color-base-200: #f2f2f2;

	interpolate-size: allow-keywords;
}

tw-include {
	/* hack to force tw to include some classes */
	@apply bg-green-600; /* toast bg */
}

html,
body {
	background-color: var(--color-light-gold);
	-webkit-font-smoothing: antialiased;
	scrollbar-gutter: stable;
	scroll-behavior: smooth;
	scroll-padding-top: 5rem;
}

/* Remove all animations, transitions and smooth scroll for people who prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* Links */

a:not(:where(.btn)) {
	border-radius: 2px;

	&:focus-visible {
		outline: 2px solid currentColor;
	}
}

/* Inputs */

textarea {
	@apply text-sm;
}

/* Dialog */

dialog {
	@apply shadow-2xl;
	max-width: var(--container-2xl);
	border-radius: var(--radius-xl);
	padding: calc(var(--spacing) * 12);
	padding-bottom: calc(var(--spacing) * 10);
	max-height: 80vh;
	margin-block: auto;
	transition:
		opacity 50ms ease-out,
		transform 50ms ease-out,
		display 50ms allow-discrete,
		overlay 50ms allow-discrete;

	/* animate only the opening of the dialog */
	visibility: hidden;

	&::backdrop {
		transition:
			opacity 50ms ease-out,
			backdrop-filter 50ms ease-out,
			background-color 50ms ease-out;
		transition-behavior: allow-discrete;
	}
}

dialog[open] {
	transform: scale(1);
	opacity: 1;
	visibility: visible;

	&::backdrop {
		opacity: 1;
		backdrop-filter: blur(3px);
	}
}

@starting-style {
	dialog[open] {
		transform: scale(0.95);
		opacity: 0.8;

		&::backdrop {
			opacity: 0;
			backdrop-filter: blur(0);
		}
	}
}

/* Details */

details {
	padding-block: --spacing(8);
	border-block: 1px solid var(--color-gray-200);

	& p {
		margin-bottom: 0;
	}

	&::details-content {
		display: grid;
		gap: 0;
		block-size: 0;
		overflow-y: clip;
		transition:
			content-visibility 250ms allow-discrete,
			block-size 250ms;
	}
}

details[open] {
	& > summary::after {
		transform: rotate(-135deg);
		top: 10px;
	}

	&::details-content {
		block-size: auto;
	}
}

details + details {
	border-top: none;
}

/* Summary */

summary {
	--outline-width: 0;
	padding-right: 30px;
	position: relative;
	cursor: pointer;
	user-select: none;
	list-style: none;
	font-size: var(--text-xl);
	font-weight: var(--font-weight-medium);
	text-box-trim: trim-start;
	text-box-edge: cap;
	outline: none;

	& > a {
		text-decoration: none;
	}
}
summary:hover::before {
	background-color: var(--color-gray-200);
}

summary:focus-visible::before {
	background-color: var(--color-gray-200);
	outline: 1px solid var(--color-gray-500);
	outline-offset: 2px;
}

summary::before,
summary::after {
	--bg-size: 28px;
	position: absolute;
	content: "";
}
summary::before {
	top: -2px;
	right: 0;
	border-radius: 50%;
	background-color: var(--color-gray-100);
	width: var(--bg-size);
	height: var(--bg-size);
	transition: var(--outline-offset-transition);
}
summary::after {
	--arrow-size: 8px;
	top: 7px;
	right: calc((var(--bg-size) - var(--arrow-size)) / 2);
	transition: transform 200ms ease-out;
	transform: rotate(45deg);
	border-right: 2px solid var(--color-gray-500);
	border-bottom: 2px solid var(--color-gray-500);
	width: var(--arrow-size);
	height: var(--arrow-size);
}

/* Select */

select,
::picker(select) {
	appearance: base-select;
	padding: calc(var(--spacing) * 0);
	cursor: pointer;
}

::picker(select) {
	border-radius: var(--radius-field);
}

select::picker-icon {
	display: none;
}

selectedcontent {
	display: inline-flex;
	align-items: center;
	gap: calc(var(--spacing) * 2);
	padding-inline: calc(var(--spacing) * 3);
}

option {
	display: flex;
	align-items: center;
	padding-block: calc(var(--spacing) * 2);
	padding-inline: calc(var(--spacing) * 3);

	&::checkmark {
		order: 1;
		margin-left: auto;
		content: "";
		background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSIyNHB4IiBmaWxsPSIjMWYxZjFmIj48cGF0aCBkPSJtNDI0LTI5NiAyODItMjgyLTU2LTU2LTIyNiAyMjYtMTE0LTExNC01NiA1NiAxNzAgMTcwWm01NiAyMTZxLTgzIDAtMTU2LTMxLjVUMTk3LTE5N3EtNTQtNTQtODUuNS0xMjdUODAtNDgwcTAtODMgMzEuNS0xNTZUMTk3LTc2M3E1NC01NCAxMjctODUuNVQ0ODAtODgwcTgzIDAgMTU2IDMxLjVUNzYzLTc2M3E1NCA1NCA4NS41IDEyN1Q4ODAtNDgwcTAgODMtMzEuNSAxNTZUNzYzLTE5N3EtNTQgNTQtMTI3IDg1LjVUNDgwLTgwWm0wLTgwcTEzNCAwIDIyNy05M3Q5My0yMjdxMC0xMzQtOTMtMjI3dC0yMjctOTNxLTEzNCAwLTIyNyA5M3QtOTMgMjI3cTAgMTM0IDkzIDIyN3QyMjcgOTNabTAtMzIwWiIvPjwvc3ZnPg==")
			no-repeat center;
		background-size: contain;
		width: 1.25rem;
		height: 1.25rem;
	}

	&:checked {
		font-weight: 600;
		background-color: var(--color-gray-100);

		& > svg {
			stroke-width: 1.5;
		}
	}

	&:hover {
		background-color: var(--color-gray-300);
	}
}

/* Button */

.btn {
	text-decoration: none;
}

.btn-neutral {
	color: var(--color-white);
}

.tag {
	@apply inline-flex items-center gap-1 border border-gray-600 rounded-full text-xs py-1 px-2 outline-gray-900;
}

.scrollbar {
	--track: var(--scrollbar-track, black);
	--thumb: var(--scrollbar-thumb, white);

	overflow: auto;
	/* Chrome, Edge, Firefox */
	scrollbar-color: var(--thumb) var(--track);
	scrollbar-width: thin;
}
/* Safari */
.scrollbar::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
.scrollbar::-webkit-scrollbar-track {
	background: var(--track);
}
.scrollbar::-webkit-scrollbar-thumb {
	background-color: var(--thumb);
	border-radius: var(--radius-md);
	border: 2px solid var(--track);
}

.text-trim {
	text-box-trim: trim-start;
	text-box-edge: cap alphabetic;
}

.error-message {
	@apply block text-sm text-red-600;
}

.layout-prose {
	@apply mx-auto px-8;
	max-width: var(--w-prose);
}

.pile {
	display: grid;
	grid: [pile] 1fr / [pile] 1fr;

	& > * {
		grid-area: pile;
	}
}
